

/* PAGINA NOSOTROS*/
.parrafo {
    color: rgb(0, 0, 139);
    padding-left: 15%;
    padding-right: 15%;


}

h2 {
    font-size: 35px;
    color: rgb(0, 0, 139);
    text-align: center;
    padding: 10px;
}



.carrusel {
    width: 100%;
    padding-bottom: 0%;

}