

/* pagina nosotros*/
.parrafo {
    color: rgb(0, 0, 139);
    padding-left: 15%;
    padding-right: 15%;


}

h2 {
    font-size: 35px;
    color: rgb(0, 0, 139);
    text-align: center;
    padding: 10px;
    display: flex;
    margin: 3%;
    justify-content: space-around;


}



.carrusel {
    width: 100%;
    padding-bottom: 0%;

}

/*formulario*/


.contacto{
    color: rgb(255, 255, 255);
    text-align: center;
    border-color: rgb(0, 0, 139);
    text-align: center;
    padding-bottom: 15px;
   
    padding-top: 15px;
}

.gradiente-linear{
    background-image: linear-gradient(darkblue, pink);
    height: 90%;
    padding: 3%;

}

/* animaciones*/
@keyframes texto {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h2 {
    animation: texto 2s ;
}