/* PAGINA RESENAS*/
.avatar {
    display: flex;

}

.avatar img {
    width: 10%;
    margin: 3%;
    height: 15%;



}

.comentario1 {
    color: rgb(0, 0, 139);
    align-items: center;
    display: flex;
    margin-left: 5%;

}