/* pagina resenas*/
.avatar {
    display: flex;

}

.avatar img {
    width: 10%;
    margin: 3%;
    height: 15%;



}

/*comentarios de usuarios*/

.comentario1 {
    color: rgb(0, 0, 139);
    align-items: center;
    display: flex;
    margin-left: 5%;

}

.comentario1:hover {
    transform: scale(1.1);
}

.avatar img:hover {
    transform: scale(1.1);
}